In [102]:
import pandas as pd
import numpy as np
import os
import datetime

path=os.getcwd()

In [103]:
path=os.getcwd()
data_weather = pd.read_csv(os.path.join(path, 'submissions/dummies/external_data.csv'))
X_weather = data_weather[['Date', 'AirPort', 'Events','Mean TemperatureC','Dew PointC','Mean Humidity', \
                          'Mean Sea Level PressurehPa','Mean VisibilityKm','Mean Wind SpeedKm/h','CloudCover']].copy()
X_weather['Date_dt'] = pd.to_datetime(X_weather['Date'], format="%Y-%m-%d")
X_weather = X_weather.drop('Date', axis=1)

In [104]:
#X_weather['Date_dt'] + datetime.timedelta(days=1)

In [121]:
cal = calendar()
one_day=datetime.timedelta(days=1)
two_days=datetime.timedelta(days=2)
three_days=datetime.timedelta(days=3)
holidays = cal.holidays(start=X_weather['Date_dt'].min(), end=X_weather['Date_dt'].max()+ datetime.timedelta(days=10))
X_weather['isHoliday']=X_weather['Date_dt'].isin(holidays)
X_weather['isHoliday_one_day']=(X_weather['Date_dt']+one_day).isin(holidays)
X_weather['isHoliday_two_days']=(X_weather['Date_dt']+two_days).isin(holidays)
X_weather['isHoliday_three_days']=(X_weather['Date_dt']+three_days).isin(holidays)
X_weather['isHoliday_in_next_days']=(X_weather['isHoliday'] | X_weather['isHoliday_one_day'] \
                                   | X_weather['isHoliday_two_days']| X_weather['isHoliday_three_days']).astype(int)

X_weather

,AirPort,Events,Mean TemperatureC,Dew PointC,Mean Humidity,Mean Sea Level PressurehPa,Mean VisibilityKm,Mean Wind SpeedKm/h,CloudCover,Date_dt,isHoliday,isHoliday_one_day,isHoliday_two_days,isHoliday_three_days,isHoliday_in_next_days
0,ATL,NaN,29,21,56,1019,16,6,3,2011-09-01,False,False,False,False,0
1,ATL,NaN,29,17,46,1016,16,7,2,2011-09-02,False,False,False,True,1
2,ATL,NaN,29,17,47,1013,16,7,4,2011-09-03,False,False,True,False,1
3,ATL,Rain,24,22,72,1012,14,9,6,2011-09-04,False,True,False,False,1
4,ATL,Rain-Thunderstorm,24,23,91,1005,13,16,8,2011-09-05,True,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11035,LGA,NaN,5,-1,63,1005,16,21,6,2013-03-01,False,False,False,False,0
11036,LGA,Snow,2,-2,65,1007,15,20,8,2013-03-02,False,False,False,False,0
11037,LGA,Snow,2,-5,55,1006,15,24,6,2013-03-03,False,False,False,False,0
11038,LGA,NaN,2,-7,54,1009,16,31,3,2013-03-04,False,False,False,False,0
11039,LGA,NaN,5,-3,49,1015,16,16,2,2013-03-05,False,False,False,False,0

In [122]:
holidays

DatetimeIndex(['2011-09-05', '2011-10-10', '2011-11-11', '2011-11-24',
               '2011-12-26', '2012-01-02', '2012-01-16', '2012-02-20',
               '2012-05-28', '2012-07-04', '2012-09-03', '2012-10-08',
               '2012-11-12', '2012-11-22', '2012-12-25', '2013-01-01',
               '2013-01-21', '2013-02-18'],
              dtype='datetime64[ns]', freq=None)

In [116]:
#np.logical_or(X_weather['isHoliday_one_day'].isin([1]),X_weather['isHoliday_two_days'].isin([1]))

#X_weather[['isHoliday','isHoliday_one_day','isHoliday_two_days','isHoliday_three_days']].isin([1])
#np.logical_or.reduce(X_weather[['isHoliday','isHoliday_one_day','isHoliday_two_days','isHoliday_three_days']].isin([1]))

#df[np.logical_or.reduce([df<3, df==5])]
# df[np.logical_or.reduce([df<3, df==5])]

X_weather['isHoliday'] | X_weather['isHoliday_one_day'] | X_weather['isHoliday_two_days']| X_weather['isHoliday_three_days']

0        False
1         True
2         True
3         True
4         True
         ...
11035    False
11036    False
11037    False
11038    False
11039    False
Length: 11040, dtype: bool

In [32]:
from datetime import date

import holidays
us_holidays = holidays.UnitedStates()
us_holidays = holidays.CountryHoliday('US', prov=None, state='CA')
uk_holidays = holidays.UnitedKingdom()

In [44]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [46]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2011-01-01', end='2013-12-31')
df = pd.DataFrame()
df['Date'] = dr

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['Date'].isin(holidays)

           Date  Holiday
0    2011-01-01    False
1    2011-01-02    False
2    2011-01-03    False
3    2011-01-04    False
4    2011-01-05    False
...         ...      ...
1091 2013-12-27    False
1092 2013-12-28    False
1093 2013-12-29    False
1094 2013-12-30    False
1095 2013-12-31    False

[1096 rows x 2 columns]

In [ ]:
path = os.path.dirname(__file__)
data_weather = pd.read_csv(os.path.join(path, 'external_data.csv'))

In [119]:
import scipy.stats as st

one_to_left = st.beta(10, 1)  
one_to_left