In [1]:
# Select the biggest transaction
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)
base_path="/Users/christophenoblanc/Documents/ProjetsPython/DSSP_Projet_DVF"

df2018 = pd.read_pickle(base_path+'/data_dvf/DataFrame_2018')

In [2]:
# Selection que des maisons
Maisons=df2018[(df2018['type_local']=='Maison')]

In [3]:
# Recherche de la transaction avec le montant le plus élevé.
Maisons['valeur_fonciere'].idxmax()
idx_max=Maisons['valeur_fonciere'].idxmax()
id_mutation_max=Maisons.loc[[idx_max]]['id_mutation']
#print(id_mutation_max)
#print(id_mutation_max[idx_max])
Maisons[Maisons['id_mutation']==id_mutation_max[idx_max]]

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale,mutation_count,maisons_count,appartements_count,dependances_count,commerces_count
2188044,2018-948432,2018-03-29,000001,Vente en l'état futur d'achèvement,114000000.0,128,NaN,AV DE STALINGRAD,8580,94800,94076,Villejuif,94,94076000AV0324,NaN,0,1.0,Maison,60.0,3.0,S,sols,NaN,NaN,783.0,2.366641,48.781694,0.0,14,1.0,6.0,1.0,1.0

In [4]:
df2018[df2018['id_mutation']=='2018-2']

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale,mutation_count,maisons_count,appartements_count,dependances_count,commerces_count
2,2018-2,2018-01-04,000001,Vente,239300.0,4,NaN,RUE DE LA BARMETTE,0025,01250,01095,Nivigne et Suran,01,01095000AH0186,NaN,0,1.0,Maison,163.0,4.0,S,sols,NaN,NaN,949.0,5.408041,46.255562,0.0,4,4.0,0.0,0.0,0.0
3,2018-2,2018-01-04,000001,Vente,239300.0,4,NaN,RUE DE LA BARMETTE,0025,01250,01095,Nivigne et Suran,01,01095000AH0186,NaN,0,1.0,Maison,51.0,2.0,AG,terrains d'agrément,JARD,Jardin d'agrément,420.0,5.408041,46.255562,0.0,4,4.0,0.0,0.0,0.0
4,2018-2,2018-01-04,000001,Vente,239300.0,4,NaN,RUE DE LA BARMETTE,0025,01250,01095,Nivigne et Suran,01,01095000AH0186,NaN,0,1.0,Maison,51.0,2.0,S,sols,NaN,NaN,949.0,5.408041,46.255562,0.0,4,4.0,0.0,0.0,0.0
5,2018-2,2018-01-04,000001,Vente,239300.0,4,NaN,RUE DE LA BARMETTE,0025,01250,01095,Nivigne et Suran,01,01095000AH0186,NaN,0,1.0,Maison,163.0,4.0,AG,terrains d'agrément,JARD,Jardin d'agrément,420.0,5.408041,46.255562,0.0,4,4.0,0.0,0.0,0.0

In [5]:
df2018[6:9]

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale,mutation_count,maisons_count,appartements_count,dependances_count,commerces_count
6,2018-3,2018-01-04,000001,Vente,90000.0,NaN,NaN,LE DRUILLET,B034,01380,01343,Saint-Cyr-sur-Menthon,01,01343000ZR0359,NaN,0,NaN,NaN,NaN,NaN,S,sols,NaN,NaN,278.0,4.941705,46.264004,0.0,3,1.0,0.0,0.0,0.0
7,2018-3,2018-01-04,000001,Vente,90000.0,5050,NaN,LE DRUILLET,B034,01380,01343,Saint-Cyr-sur-Menthon,01,01343000ZR0361,NaN,0,1.0,Maison,150.0,3.0,S,sols,NaN,NaN,347.0,4.941728,46.263782,0.0,3,1.0,0.0,0.0,0.0
8,2018-3,2018-01-04,000001,Vente,90000.0,NaN,NaN,LE DRUILLET,B034,01380,01343,Saint-Cyr-sur-Menthon,01,01343000ZR0363,NaN,0,NaN,NaN,NaN,NaN,S,sols,NaN,NaN,23.0,4.941799,46.263679,0.0,3,1.0,0.0,0.0,0.0

In [6]:
df2018[18:26]

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale,mutation_count,maisons_count,appartements_count,dependances_count,commerces_count
18,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0387,NaN,0,NaN,NaN,NaN,NaN,E,eaux,ETANG,Etangs,157020.0,5.209132,46.123578,0.0,8,1.0,0.0,1.0,0.0
19,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0388,NaN,0,NaN,NaN,NaN,NaN,L,landes,NaN,NaN,2770.0,5.208416,46.125772,0.0,8,1.0,0.0,1.0,0.0
20,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0389,NaN,0,NaN,NaN,NaN,NaN,BS,taillis sous futaie,NaN,NaN,2120.0,5.207920,46.125619,0.0,8,1.0,0.0,1.0,0.0
21,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0390,NaN,0,NaN,NaN,NaN,NaN,L,landes,NaN,NaN,3740.0,5.207477,46.124555,0.0,8,1.0,0.0,1.0,0.0
22,2018-11,2018-01-08,000001,Vente,47700.0,800,NaN,RTE DE SEILLON,0215,01240,01211,Lent,01,012110000A0401,NaN,0,1.0,Maison,225.0,5.0,S,sols,NaN,NaN,640.0,5.205776,46.123353,0.0,8,1.0,0.0,1.0,0.0
23,2018-11,2018-01-08,000001,Vente,47700.0,800,NaN,RTE DE SEILLON,0215,01240,01211,Lent,01,012110000A0401,NaN,0,3.0,Dépendance,NaN,0.0,S,sols,NaN,NaN,640.0,5.205776,46.123353,0.0,8,1.0,0.0,1.0,0.0
24,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0402,NaN,0,NaN,NaN,NaN,NaN,P,prés,NaN,NaN,12790.0,5.205758,46.122967,0.0,8,1.0,0.0,1.0,0.0
25,2018-11,2018-01-08,000001,Vente,47700.0,NaN,NaN,LE LAIT,B064,01240,01211,Lent,01,012110000A0405,NaN,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,3820.0,5.208939,46.121088,0.0,8,1.0,0.0,1.0,0.0