In [1]:
# Select the biggest transaction
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)
base_path="/Users/christophenoblanc/Documents/ProjetsPython/DSSP_Projet_DVF"

df2018 = pd.read_pickle(base_path+'/data_dvf/DataFrame_2018')

In [2]:
# Selection que des maisons
Maisons=df2018[(df2018['type_local']=='Maison')]

In [3]:
# Recherche de la transaction avec le montant le plus élevé.
Maisons['valeur_fonciere'].idxmax()
idx_max=Maisons['valeur_fonciere'].idxmax()
id_mutation_max=Maisons.loc[[idx_max]]['id_mutation']
#print(id_mutation_max)
#print(id_mutation_max[idx_max])
Maisons[Maisons['id_mutation']==id_mutation_max[idx_max]]

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale
2208959,2018-948432,2018-03-29,000001,Vente en l'état futur d'achèvement,114000000.0,128,NaN,AV DE STALINGRAD,8580,94800,94076,Villejuif,94,94076000AV0324,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,1.0,Maison,60.0,3.0,S,sols,NaN,NaN,783.0,2.366641,48.781694,0.0

In [4]:
df2018[df2018['id_mutation']=='2018-47']

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,surface_carrez_totale
147,2018-47,2018-01-09,000001,Vente,165000.0,305,NaN,RUE DU 6 JUIN 1944,0223,01960,01289,Péronnas,01,01289000AC0173,NaN,410,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.208289,46.189569,0.0
148,2018-47,2018-01-09,000001,Vente,165000.0,330,NaN,RUE DU 6 JUIN 1944,0223,01960,01289,Péronnas,01,01289000AC0173,NaN,203,0.0,211,0.0,NaN,0.0,NaN,0.0,NaN,0.0,2,2.0,Appartement,102.0,4.0,NaN,NaN,NaN,NaN,NaN,5.208289,46.189569,0.0